@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Afacad";
  src: url("./Afacad-VariableFont_wght.ttf") format("woff2 supports variations"),
  url("./Afacad-VariableFont_wght.ttf") format("woff2-variations");
  font-weight: 100 1000;
}

.radix-themes {
  --default-font-family: 'Afacad', sans-serif !important;
  --cursor-button: pointer !important;
}

body {
  width: 100vw;
  height: 100vh;
}

.react-markdown ul li {
  list-style: initial;
  margin-left: 1em;
}

.rt-BaseButton:where(.rt-variant-solid):where([data-disabled]) {
  cursor: var(--cursor-disabled);
  color: var(--gray-a8);
  background-color: var(--gray-a3) !important;
  filter: none
}

.task >  ::-webkit-scrollbar {
  width: 4px;
}

.task >  ::-webkit-scrollbar:horizontal {
  height: 8px;
}

.task >  ::-webkit-scrollbar-thumb {
  @apply bg-accent-border rounded-xl;
}

.task > ::-webkit-scrollbar-thumb {
  @apply bg-accent-border rounded-xl;
}

.task > ::-webkit-scrollbar-thumb {
  @apply bg-accent-solid rounded-xl;
}